name: Deploy MkDocs to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.8.3
          virtualenvs-create: false

      - name: Install dependencies
        run: pip install mkdocs mkdocs-material mkdocs-autorefs pymdown-extensions

      # Aggiorna la versione nella navbar
      - name: Update version in mkdocs.yml
        run: |
          VERSION=$(poetry version -s)
          echo "Updating MkDocs Material navbar version to $VERSION"
          sed -i "s/^  version:.*$/  version: \"$VERSION\"/" mkdocs.yml

      - name: Build documentation
        run: mkdocs build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
          publish_branch: gh-pages
